<%- include('header'); -%>
<div class="container">
    <div class="profile">
        <div class="img">🚗</div>
        <h2><%= user.name %></h2>
        <span><%= user.email %></span>
        <% if(user.admin === 1) { %>
            <p><a id="registerAccount" href="/signup">Регистрация аккаунта</a></p>
        <% } %>
        <a id="checklist" href="/check">Чек-лист</a>
        <a href="/logout">Выйти</a>
    </div>
</div>
<%- include('footer'); -%>